body {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.biglogo  {
  margin: 0;
  color: rgba(188,195,208,1);
}
h1 {
  font-size: 20vh;
  animation-name: logo;
  animation-duration: infinite;
}

@keyframes logo {
  0%  {opacity: 1;}
  100% {opacity: 0;}
}
